/* components/Tooltip.module.css */
.tooltipContainer {
    position: relative;
    display: inline-block;
  }
  
  .targetElement {
    cursor: pointer;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(100,110,110,0.6);
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    margin-bottom: 10px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(100, 110, 110, 0.6) transparent transparent transparent;
  }

  .tooltipContainer:hover .tooltip {
    opacity: 1;
  }